<ul class="footer_social_icon cf">
	<li><a href="${properties.socialhref}" class="social__link"
		target="_blank"> <img src="${properties.imgpath}"
			alt="${properties.altname}" class="social__img">
	</a></li>

	<li><a href="${properties.socialhref1}" class="social__link"
		target="_blank"> <img src="${properties.imgpath1}"
			alt="${properties.altname1}" class="social__img">
	</a></li>

	<li><a href="${properties.socialhref2}" class="social__link"
		target="_blank"> <img src="${properties.imgpath2}"
			alt="${properties.altname2}" class="social__img">
	</a></li>
</ul>