
	<div id="follow_toyota" class="cf">
    	<div data-sly-resource="${'textinfo1' @ resourceType='/apps/toyota-bharat/components/content/text'}"></div>
		<div data-sly-resource="${'socialLinks' @ resourceType='/apps/toyota-bharat/components/content/sociallinkfooter'}"></div>
	</div>
	<div class="footer__secondary cf">
        
		<div data-sly-resource="${'footOtherLinks' @ resourceType='/apps/toyota-bharat/components/content/footerotherlink'}"></div>			

        <div class="footer__copyright">
			<div data-sly-resource="${'textinfo' @ resourceType='/apps/toyota-bharat/components/content/text'}"></div>
		</div>
	</div>
