<html lang="en">
    <head>
        <!--/* Initializes the Experience Manager authoring UI */-->
		<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>

         <!--/* Important!!  Includes the scripts and css to be included in the head tag */-->
         <sly data-sly-include="/libs/foundation/components/page/headlibs.jsp" data-sly-unwrap/>
    </head>
    <body>
		<sly data-sly-include="body.html" data-sly-unwrap/>
		<sly data-sly-include="foot.html" data-sly-unwrap/>
    </body>
</html>