<ul class="footer__nav">
			<li>
				<a href="${properties.pagepath}.html" class="footer__nav__link">
					${properties.linkname}
				</a>
			</li>
			
			<li>
				<a href="${properties.pagepath1}.html" class="footer__nav__link">
					${properties.linkname1}
				</a>
			</li>
			
			<li>
				<a href="${properties.pagepath2}.html" class="footer__nav__link">
					${properties.linkname2}
				</a>
			</li>
				
			<li>
				<a href="${properties.pagepath3}.html" class="footer__nav__link">
					${properties.linkname3}
				</a>
			</li>
			
			<li>
				<a href="${properties.pagepath4}.html" class="footer__nav__link">
					${properties.linkname4}
				</a>
			</li>
</ul>